<adios-config host-language="C">
  <adios-group name="sample">
    <var name="/global/nx" type="integer" />
    <var name="/global/ny" type="integer" />
    <var name="/global/nz" type="integer" />

    <var name="/local/start_x" type="integer" />
    <var name="/local/start_y" type="integer" />
    <var name="/local/start_z" type="integer" />
    <var name="/local/count_x" type="integer" />
    <var name="/local/count_y" type="integer" />
    <var name="/local/count_z" type="integer" />

    <global-bounds dimensions="/global/nx,/global/ny" offsets="/local/start_x,/local/start_y">
      <var name="/var/data2d" type="integer" dimensions="/local/count_x,/local/count_y" />
    </global-bounds>

    <global-bounds dimensions="/global/nx,/global/ny,/global/nz" offsets="/local/start_x,/local/start_y,/local/start_z">
      <var name="/var/data3d" type="integer" dimensions="/local/count_x,/local/count_y,/local/count_z" />
    </global-bounds>
  </adios-group>

  <method group="sample" method="FLEXPATH">
    QUEUE_SIZE=4
  </method>

  <buffer size-MB="1" allocate-time="now" />
</adios-config>
